extends layout

block content


  div(class='wrapper ')
    div(class='full-blur')
        div(class="header-bar")
            h3(class="h3-header") Dashboard
        table(class="data-table")
            tr
                th OS
                td windows7
                
            tr
                th VM
                td demmy
            tr
                th Other
                td
            tr
                th More
                td demmy